* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 32px;
    border-bottom: 1px solid #eaeaea;
}

.header-link {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 14px;
}

.left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.btn-header-white {
    padding: 6px 16px;
    border: 1px solid black;
    border-radius: 16px;
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
}

.btn-header-black {
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 16px;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.section {
    display: flex;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 48px;
    text-align: center;
    color: #1E3932;
}

.section-header {
    font-weight: 600;
    margin-bottom: 48px;
}

.section-text {
    font-size: 20px;
    margin-bottom: 32px;
}

.btn-section {
    border: 1px solid #1E3932;
    padding: 6px 12px;
    border-radius: 16px;
    background-color: transparent;
    color: #1E3932;
    font-size: 16px;
    cursor: pointer;
}

.btn-section:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}

.section img {
    width: 50%;
}

.footer {
    display: flex;
    gap: 16px;
    margin-left: 32px;
}

.footer a {
    text-decoration: none;
    color: #2C2C2C;
}

.logo {
    height: 50px;
}

.font-large {
    font-size: 48px;
}

.font-medium {
    font-size: 24px;
}

.bg-1 {
    background-color: #D5D0EA;
}

.bg-2 {
    background-color: #CEE8C9;
}

.bg-3 {
    background-color: #DBE6F2;
}

.bg-4 {
    background-color: #DBE6F2;
}

.bg-5 {
    background-color: #E99265;
}

.bg-6 {
    background-color: #F2F0EB;
}